$ten: 10px;
$white: #ffffff;

html,
body {
	min-height: 100%;
}

body {
	background: $white;
	color: darken($white, 100);
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: $ten * 1.2;
	margin: $ten;
}
