$ten: 10px;
$blue: #00527D;

html,
body {
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  background: whitesmoke;
}

.footer {
  .logo {
    width: $ten * 16;
  }
}

.dr-hidden {
  display: none;
}

a {
  &,
  &:focus,
  &:hover,
  &:active,
  &.is-active {
    color: $blue !important;
  }
}

.tabs li.is-active a {
  border-bottom-color: $blue !important;
  color: $blue !important;
}